
.boxCourse {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px 20px;
    border-radius: 8px;
    border: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    cursor: pointer;
    transition: scale .1s ease-in-out;
}

.boxCourse:hover {
    transition-duration: .3s;
    scale: 1.1;
}

.boxCourse h3 {
    width: 100%;
    text-align: center;
}

.boxImgCourse {
    width: 80px;
}

.imgCourse {
    width: 100%;
}