.boxCoursesPanel {
    padding: 0 40px 50px;
}

.boxParagraph {
    height: 70px;
    align-content: center;
    text-align: center;
}

.boxCourses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.textColorChoose {
    color: #424C6F;
    font-weight: 500;
    font-size: 1.2rem;
}




