.widthNavBarOpen {
    width: 300px;
}

.widthNavBarClose {
    width: 80px;
}

.displayNone {
    display: none;
}

.fontWhite {
    color: white;
}

.fontGray {
    color: rgb(201, 201, 201);
}

.navBar {
    transition: width .3s ease-in-out; 
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #424C6F;
}

.topSection {
    display: flex;
    justify-content: space-between;
    height: 60px;
    transition: height .5s ease-in-out;
}

.topSectionClose {
    justify-content: center;
    height: 32px;
    transition: height .5s ease-in-out;
}

.boxLogo {
    display: flex;
    align-items: center;
    gap: 25px
}

.boxImgUser {
    width: 60px;
}

.imgUser {
    width: 100%;
}

.boxIcon3Lines {
    display: flex;
    align-items: center;
    margin: 0 15px;
    cursor: pointer;
}

.boxIcon3LinesClose {
    margin: 0;
}

.icon3Lines {
    font-size: 1.7rem;
}

.listItems {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


a {
    color: black;
    text-decoration: none;
}

.link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.linkClose {
    justify-content: center;
}

.active {
    filter: drop-shadow(0 0 10px rgba(250, 250, 250, .7));
}

.iconItem {
    font-size: 1.7rem;
    color: white;
}